@import:url('./variable.css');
@font-face {
	font-family: "Harry";
	src: url("../Resources/Fonts/HarryP.ttf") format('truetype');
}

body{
    min-height:100vh;
    height: 100%;
    margin:0;
    padding:0;
    font-size:15px;
    font-family:'Roboto',sans-serif;
}
a{
    text-decoration: none;
}

.login-container{
    width:100%;
    height:100%;
    background-image:url('../Resources/Images/Library 2.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}


/*      Right Container     */
.login-container .right{
    width:50%;
    height:100vh;
}
.right > .card{
    height:100%;
    width:100%;
    background:transparent;
}
.card > .card-body{
    background:transparent;
    color:white;
}
.card-body > .title{
    font-family:'Harry';
    margin-right:-140px;
    height:80%;
}
.title > h2{
    font-size:90px;
    margin:0;
    margin-left:-80px;
    color:#8c8b8b; /*  #aa615f;    #cccccc  #a8a7a7   #8f8f8f  */
    line-height:0.8;
    @supports (-webkit-text-stroke: 4px black){
        > .outline-text{
        font-size:calc(1em + 30px);
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 3px white;
        letter-spacing:-2px;
        margin-right:4px;
        }
    }
}
.title > h2:nth-child(2){
    margin-right:-80px;
}
.title > .caption{
    font-family:"Harry";
    font-size:32px;
    margin-left:-10px;
    transform:translateY(10px);
}




/*      Left Container      */
.login-container .left {
    width:50%;
    height:100%;
}
.left .card{
    color:white;
    background:rgba(0,0,0,0.48);
}





/*      Form      */
form{
    height:100vh;
}
form h3{
    font-weight:900;
    font-style:italic;
    transform:translateY(-60px);
    > span{
        font-size:calc(1em + 4px);
    }
}
form .form-label{
    margin-bottom:0;
    font-weight:700;
    font-style:italic;
    width:150px;
}
form .loginType{
    width:200px;
}
form .login-options{
    width:80px;
}
form .form-control{
    padding:3px 8px;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    opacity:0.55;
    font-size:15px;
}
form .form-control:focus{
    border: 3px solid #555;
    opacity:1;
}
form > div{
    width: 100%;
}
form span{
    font-size:14px;
    > a{
        font-weight:900;
    }
}
form > div.border-out{
    border:2px double black;
    border-radius:5px;
    padding: 3px 6px;
}
#loginButton{
    font-weight: 900;
    font-style:italic;
}
form input[type="radio"]:not(:checked) {
    opacity:0.5;
}