@import:url('./variable.css');
@font-face {
	font-family: "Harry";
	src: url("../Resources/Fonts/HarryP.ttf")format('truetype');
}

html,body {
    min-height:100vh;
    height: 100%;
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

body > div{
    width:100%;
    height:100vh;
    overflow:hidden;
}
div.background{
    background-image:url('../Resources/Images/Library Homepage.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
.background > .title{
    width:100%;
    height:calc(100vh - 85px); /* The height should be calculated by removing translate dimension, since flex is applied this makes translate to move entire div with down & if 100% is used for height white blank space will be occupied on the screen */
    font-family:"Harry";
    transform:translate(-10px,85px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.title > h2{
    font-size:90px;
    margin:0;
    margin-left:-20px;
    color:#f9e9e2; /*  #8c8b8b  #aa615f;    #cccccc  #a8a7a7   #8f8f8f  */
    line-height:0.8;
    pointer-events: none;
    -webkit-text-stroke-width: 2.25px;
    -webkit-text-stroke-color: black;
    @supports (-webkit-text-stroke: 4px black){
        > .outline-text{
            font-size:calc(1em + 30px);
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2.5px #f9e9e2;
            letter-spacing:-2px;
            margin-right:4px;
        }
    }
}
.title h2:nth-child(2){
    margin-left:60px;
    z-index:-1;
}
.title .caption{
    font-family:"Harry";
    font-size:36px;
    margin-left:75px;
    transform:translateY(10px);
    color:white; /*#98AFC7*/
    -webkit-text-stroke: 1px black;
}


.search{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    height:30vh;
}
.search > div{
    margin: auto;
}
.search > .search-box{
    width:90vw;

}
.search-box > .input-group{
    width:28vw;
    margin:auto;
}
.search-box input{
    padding:2px 8px;
    height:32px;
}

/* Firefox */
.search-box input::placeholder {
    font-family:"Harry";
    font-size:21px;
    color:#AE0000;/* var(--bs-danger) */
    text-align:center;
    transform:translateY(1.75px);
}

.search-box input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.search-box span{
    width:8vw;
    height:33px;
    border:none;
    font-family:"Harry";
    font-size:22px;
    padding:0;
    background:#AF0101 !important;
}
#search-button{
    padding:2px 4px;
    background:#AF0101;
    color:#D1A708;
    border:none;
    width:100%;
    padding:0;
    height:calc(100% - 5px);
    border-radius:0 6px 6px 0;
}
.#search-span{
    background:#AF0101;
}
/* Login & Register Button */
.button-links{
    width:10vw;
    margin:0 5px !important;
    position:absolute;
    top:5px;
    right:5px;
    font-family:"Harry";
}
.button-links button{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border:none;
    > i{
        font-size:18px;
        width:18px;
        height:18px;
    }
}
.button-links button > span{
    font-size:20px;
    opacity: 0;
    max-width: 0;
    transition: all 0.5s ease;
    display: inline-block;
    overflow: hidden;
    padding-left: 0;
}
.button-links button:hover  span{
    opacity: 1;
    margin-right: 7px;
    max-width: 100px;  /* adjust this value as per your requirement */
}
#login-button{
    background:#024383;
}
#registration-button{
    background:#024F0d;
}